//Base scss
//==========
html {
	font-size: 100%;	
}

body {
	font-family: $contentFontFam;
	font-size: $mainTextSize;
	font-weight: $light;
	color: $black;
	font-style: normal;
}

#{headings} {
	font-family: $headerFontFam;
	font-weight: $semiBold;
	color:$black;
	font-style: normal;
}

h1 {
	font-size: 3.247rem;
	line-height: 3.247rem;
	margin:0.889rem 0 1.424rem 0;
}

h2 {

}

h3{

}

strong {
	font-weight: $semiBold;
}

p {
	line-height: $mainLineHeight;
	margin: 1.266rem 0;
}