//showWindowSize
.showSize{
	position:absolute;
	top:0;
	left:15px;
	color:$white;
	font-weight: $semiBold;
	z-index: 1000;
}
//Base scss
//==========
html {
	font-size: 100%;	
}

body {
	font-family: $contentFontFam;
	font-size: $mainTextSize;
	font-weight: $light;
	font-style: normal;
}

#{headings()} {
	font-family: $headerFontFam;
	font-weight: $semiBold;
	font-style: normal;
}

h1 {
	font-size: 3.247rem;
	line-height: 3.247rem;
} //End of h1

h2 {

}//End of h2


h3{

}//End of h3


strong {
	font-weight: $semiBold;
}//End of strong


p {
	line-height: $mainLineHeight;
	margin: 1.266rem 0;
} //End of p


a {
	text-decoration:none;
}