//showWindowSize
.showSize{
	position:absolute;
	top:0;
	left:15px;
	color:$white;
	font-weight: $semiBold;
	z-index: 1000;
}
//Base scss
//=========
html {
	font-size: 100%;	
}

body {
	@include remFontSize(font-size, 1.125);
	@include remFontSize(line-height, 1.602);
	font-family: $mainFont;
	font-weight: $light;
	font-style: normal;
}

#{headings()} {
	font-family: $headerFont;
	font-weight: $semiBold;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

h1 {
	@include remFontSize(font-size, 3.247);
	@include remFontSize(line-height, 3.247);

} //End of h1

h2 {

}//End of h2


h3{

}//End of h3


strong {
	font-weight: $semiBold;
}//End of strong


p {
	@include remFontSize(margin, 1.266, 0);
} //End of p


a {
	text-decoration:none;
}