@mixin clearfix {
	zoom:1;
	
	&:before, 
	&:after{
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin backImage($image){
	background: url($image) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin roundedCorners {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

@mixin boxShadows($shadowColor) {
	-khtml-box-shadow: 0 8px 6px -6px $shadowColor;
	-webkit-box-shadow: 0 8px 6px -6px $shadowColor;
	-moz-box-shadow: 0 8px 6px -6px $shadowColor;
	box-shadow: 0 8px 6px -6px $shadowColor;
}