//google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Orbitron|Exo+2:400,700);
@include border-box-sizing; // uses border box sizing like the old IE

//color palette
$black 		: #111111;
$white		: #ffffff;
$grayLight	: #fafafa;
$grayDark	: #666666;
$grayBorder	: #dddddd;
$blue		: #08233e;
$alert		: #ff0000;

//social colors
$linkedin	: #007bb5;
$twitter	: #55acee; 
$instagram	: #9b6954;
$github		: $black;

//font stacks
$mainFont	: 'Open Sans', Helvetica, Arial, sans-serif;
$headerFont	: 'Exo 2', Helvetica, Arial, sans-serif;
$logoFont	: 'Orbitron'; //look for alternative Fonts to complete font stack!!!

//font-weights
$light		: 300;
$normal		: 400;
$semiBold	: 600;
$bold		: 700;
$heavy		: 800;

//susy gridsystem
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

//breakpoints
$small			:480px;
$small-medium	:600px;
$medium			:768px;
$medium-large	:800px;
$large 			:1024px;
$x-large		:1280px;