section#about {
	@include clearfix;

	article {
		
		#aboutImage{
			max-width: 400px;
			margin: 36.491px auto 32.437px auto;
			margin: 2.281rem auto 2.027rem auto;

			@include breakpoint($small-medium) {
				float:right;
				@include remFontSize(margin, 0, 0, 1.125, 0);
			} //end of breakpoint

			img {
				max-width:85%;	
				display:block;
				margin: 0 auto;
				@include roundedCorners(50%);
				
				@include breakpoint($small-medium) {
					float: right;
					@include remFontSize(margin, 0);
				} // end of breakpoint
			} // end of img
		} // end of #aboutImage

		.intro {
			@include remFontSize(font-size, 1.602);
			@include remFontSize(line-height, 2.281);
		} //end of intro

		&#devSkills {
			@include remFontSize(padding-top, 1.802);
			@include clearfix;

			h2 {
				@include remFontSize(margin-bottom, 2.027);
			} // end of h2

			h3{
				@include remFontSize(margin-bottom, 0.702 );
			}// end of h3

			h4 {
				clear:both;
				font-style: italic;
			} // end of h4

			ul{
				@include remFontSize(padding-left, 1.266);
				list-style-type: disc;
			} // end of ul

			div{
				@include remFontSize(margin-bottom,1.602);

				&:last-child{
					@include remFontSize(margin-bottom, 0);
				} // end of last-child
			} // end of div
		} // end of #devSkills

		.lengthFix{
			display:none;
			color:$white;
			list-style-type:none;
			 
			 @include breakpoint($x-large){
			 	display: block;
			 } // end of breakpoint
		} // end of .lengthFix

		#languages {
			@include breakpoint($small-medium) {
				@include span(5);
			} // end of breakpoint at small-medium

			@include breakpoint($x-large){
				 @include span(4);
			} // end of breakpoint at x-large
		} // end of #languages

		#techniques{
			@include breakpoint($small-medium) {
				@include span(7 at 6);
			} //breakpoint at small-medium

			@include breakpoint($x-large){
				@include span(4 at 9); //last in colum

			} //breakpoint at x-large
		} //#techniques

		#tools{
			
			@include breakpoint($small-medium) {
				@include span(5);
			} // end of breakpoint at small-medium

			@include breakpoint($x-large){
				@include span(3 at 5);
			} // end of breakpoint at x-large
		} // end of #tools

		#frameworks{
			@include breakpoint($small-medium) {
				@include span(7 at 6);
			}// end of breakpoint at small-medium

			@include breakpoint($x-large){
				@include span(4);
			} // end of breakpoint at x-large
		} // end of #frameworks

		#software{
			@include breakpoint($small-medium) {
				@include span(5);
			} // end breakpoint at small-medium
			
			@include breakpoint($x-large){
				@include span(3 at 5);
			} // end of breakpoint at x-large
		} // end of #software

		#cms{
			@include breakpoint($small-medium) {
				@include span(7 at 6);
			} // end of breakpoint at small-medium
			@include breakpoint($x-large){
				@include span(4 at 9);
			} // end of breakpoint at x-large
		} // end of #cms
	}// end of article
} // end of section#about





