header {
	color:$white;
	
	article {
		
		text-align: center;
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		
		&.desktop{ @include fullPageBackgroundFixed('../images/main/header_bg.jpg'); }
		&.iOS { @include fullPageBackground('../images/main/header_bg.jpg'); }
	
		#hgroup {
			@include remFontSize(padding, 9, 0, 2.887, 0);

			@include breakpoint($small + 1){
				padding: 0;
			}

			&.landscapeMode{
				@include remFontSize(padding, 9.375, 0, 2.887, 0);
			}
			
			h1{
				@include remFontSize(font-size, 1.9);
				@include remFontSize(line-height, 2.2);
				@include remFontSize(letter-spacing, 0.3125);
				@include remFontSize(padding, 0.625, 0, 0.3125, 0);
				@include remFontSize(margin, 0, 0, 1, 0);

				font-weight: $normal;
				font-family: $logoFont;
				text-transform: uppercase;
				border-top: 2px solid $white;
				border-bottom: 2px solid $white;

				@include breakpoint($small){
					@include remFontSize(padding, 1.5, 0, 1, 0);
				}

				@include breakpoint($medium){
					@include remFontSize(font-size, 2.4);
				}
			}//h1

			h2{
				font-weight: $light;
				font-family:$headerFont;
				margin-bottom: 0;
				@include remFontSize(font-size, 1.25);
				
				@include breakpoint($medium){
					@include remFontSize(font-size, 1.375);
				} //breakpoint

				span{
					display:block;
					
					@include breakpoint($small){
						display:inline-block;
					} //breakpoint
				}//span
			}//h2
			p{
				@include remFontSize(font-size, 4);
				@include remFontSize(margin, 0);
				

				a{
					display: inline-block;
					color:$white;
					@include remFontSize(margin, 1.424, 0);
					@include transform(scale(1,1));
					@include hoverTransition(all, 0.4s, ease-out);
						
					&:hover{ 
						@include transform(scale(1.2,1.2));
					}
				} //a
			} //p
		}//hgroup	
	}//article
}//header