header {
	color:$white;
	
	article {
		
		@include fullPageBackground('../images/header_bg.jpg');
		// @include remFontSize(padding, 6.583, 0);
		text-align: center;
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		
	
		#hgroup {
			@include remFontSize(padding, 6.583, 0, 2.887, 0);
			@include text-shadow(1px 1.732px 2px rgba(0, 0, 0, 0.5));
			
			h1{
				@include remFontSize(font-size, 6.583);
				font-weight: $light;
				font-family: $logoFont;
			}//h1

			h2{
				font-family:$headerFont;
				@include remFontSize(font-size, 1.424);
				@include remFontSize(margin, 1.266, 0, 0.702, 0);
				text-transform: uppercase;
				letter-spacing: 1px;

				@include breakpoint($medium){
					@include remFontSize(font-size, 1.602);
				}
			} //h2

			h3{
				font-weight: $light;
				font-family:$headerFont;
				@include remFontSize(font-size, 1.125);
				@include breakpoint($medium){
					@include remFontSize(font-size, 1.266);
				} //breakpoint

				span{
					display:block;
					
					@include breakpoint($small){
						display:inline-block;
					} //breakpoint
				}//span
			}//h3
			p{
				@include remFontSize(font-size, 4.624);
				@include remFontSize(margin, 0);
				

				a{
					display: inline-block;
					@include remFontSize(margin, 1.424, 0);
					color:$white;
				} //a
			} //p
		}//hgroup	
	}//article
}//header