header nav {
	@include clearfix;
	width:100%;
	background-color: transparent;

	#navbar{
		position: relative;
		background-color: $white;
		text-align: center;
		height:62px;

		#logo{
			float:left;
			font-family: $logoFont;
			background-color: transparent;
			@include valignment; //centering vertically
			
			a {
				display:inline-block;
				@include remFontSize(font-size, 2.281);
				color:$black;
				text-align: center;
				@include remFontSize(padding, 0.493);
			}
		} //logo

		#menuIcon{
			float:right;
			@include remFontSize(font-size, 1.802);
			@include remFontSize(padding, 0.493);
			@include valignment; //centering vertically
			color:$black;

			&:hover {
				cursor: pointer; //remove in production | not necessary for mobile
			}
		} //menuIcon

		ul {
			position:absolute;
			top:62px; //height of navbar
			right: 0;
			width:100%;
			z-index:4;
			vertical-align: bottom;
			display:none;
			
			li {
				@include remFontSize(height, 3.247);
				@include remFontSize(line-height, 2.887);
				background-color:$white;
				border-bottom: 1px dotted darken($white, 20);

				&:last-child{
					border-bottom:none;
				}

				a {
					@include remFontSize(font-size, 1.602);
					font-family: $headerFont;
					color:$black;
					display: block;
				} //a
			}//li
		} //ul	
	} //navbar
} //header #nav