section#portfolio{
	
	@include clearfix;
	
	.projects{
		@include clearfix;
		@include remFontSize(padding, 3.125, 0);
		border-bottom: 1px solid $grayBorder;

		@include breakpoint($medium-large) {
			@include remFontSize(padding, 7.1875, 0, 3.125, 0);
		}
		
		&:first-of-type{
			@include remFontSize(padding-top, 1.875);
		}

		&:last-child{
			border-bottom:none;
			padding-bottom:0;
		}

		.projectImage{
			max-width: 600px;
			margin-left:auto;
			margin-right: auto;
			@include remFontSize(margin-bottom, 1.875);

			img{
				width:100%;
				display:block;
			}

			@include breakpoint($medium-large){
				@include span (8);

				&.even{
					@include span (8 last);
				}
			}
		}

		.copyPreview{
			h3{
				@include remFontSize(font-size, 1.125);
				font-weight: $semiBold;
			}

			p{ 
				@include remFontSize(margin, 0.625, 0, 1.266,0) 
			}

			button{
				@include remFontSize(margin-top, 1.25);

				@include breakpoint($large){
					@include remFontSize(margin-top, 1.875);
				}

				@include breakpoint($x-large){
					@include remFontSize(margin-top, 3.125);
				}
			}

			@include breakpoint($medium-large){
				@include span (4 at 9);
			}
		}
	}
}