#detailOverlay{
	display:none;
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:11;	
	min-width: 320px;	
	background-color: $white;
	overflow-x:hidden;
	overflow-y: auto; 	
	-webkit-overflow-scrolling: touch;
	
	@include remFontSize(padding-top, 3.125);
	
	.detailsContainer{
		min-height: 101%; //fixes the iOS overlay scrolling issue of body still scrolling when overlay is visible		
		.navPlaceholder{
			position:absolute;
			top:0;
			left:0;
			z-index:12;
			width: 100%;

			nav{
				background-color: transparent;

				.navbar{
					#portfolioBack{
						float: right;
						color:$black;
						@include valignment;
						@include remFontSize(padding, 0.493);
						@include remFontSize(font-size, 2.281);

						&:hover { 
							cursor:pointer; 
						} 
					} //portfolioBack

					.logo{
						float:left;
						font-family: $logoFont;
						background-color: transparent;
						display:inline-block;
						color:$white;
						@include valignment;
						@include remFontSize(font-size, 2.281);
						@include remFontSize(padding, 0.493);			
					} //logo
				} // end of navbar
			} // end of nav
		} // end of navPlaceholder

		section{
			
			text-align: center;
			border-bottom: none;
			@include remFontSize(padding, 1, 0, 2.5, 0);

			&.dark {
				background-color: $grayLight;
			} //.dark

			&.detailCopy{

				article{
					@include container(90%);

					@include breakpoint($medium){
					@include container(80%);
				}// end breakpoint

					@include breakpoint($medium-large){
						@include container(65%);
					} //end of breakpoint

					h2{
						font-weight: $semiBold;
						margin-bottom:0;
						@include remFontSize(font-size, 1.6);
						@include remFontSize(line-height, 2.3);

						@include breakpoint($medium-large){
							@include remFontSize(font-size, 1.9);
						} // end breakpoint
						
						span{
							display: block;

							@include breakpoint($small){
								display: inline-block;
							} // end breakpoint
						} // end span
					} // end of h2

					h3{
						@include remFontSize(margin-top,1.875);
					} // end of H3

					span{
						@include remFontSize(padding, 0 , 0.1875);
						display: inline-block;
					}
				}// of article	
			} // end of detailCopy
			
			&.detailImage{
				text-align: center;	
				@include remFontSize(padding, 1.266, 0.3125, 3.75, 0.625);

				img{
					display:block;
					width:100%;
					max-width:$large;
					margin: 0 auto 30px auto;
				} // end of img
				
				.backContainer{

					@include container(90%);

					@include breakpoint($medium){
						@include container(80%);
					} // end of Breakpoint
					
					button{
						display:block;
						margin-right: auto;
						margin-left: auto;

						@include breakpoint($small){ // change values for two button next to each other
							display: inline-block;
							margin-left: 0;
							margin-right: 0;
						} // end of breakpoint
					
						@include breakpoint($medium-large){
							@include remFontSize(font-size, 1.125);
							@include remFontSize(width, 15);
							@include remFontSize(height, 2.5);
						} // end of breakpoint

						&.secondButton { // specific css for second button
							@include remFontSize(margin-top, 1.25);

							@include breakpoint($small){
								@include remFontSize(margin-left, 1.25);
								margin-top:0;
							} //end of breakpoint
						} // end of goBack
					} // end of button
				}	
			} //end of detailImage
		} // end of section	
	}	// detailsContainer
} // end of overlay