#thankYou {
	section{
	
		@include remFontSize(padding, 2, 0);
    	border-bottom: none;

    	@include breakpoint($medium) {
    		@include remFontSize(padding-top, 5);
    	}

		article{
			background-color: $white;
			border:1px solid rgba(221, 221, 221, 0.5);
			text-align: center;
			@include remFontSize(padding, 2, 0);	
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			@include roundedCorners(4px);


			h1{
				@include remFontSize(font-size, 3);
				@include remFontSize(line-height, 2.9);
			}

			i{
				display: block;
				color:$grayDark;
				@include remFontSize(font-size, 5);
			}

			p{
				// @include remFontSize(margin)
			}
		}
	}
}