/* ************* ABOUT **************** */
/* ************************************ */

.about {

  &__profile-picture {
    display: block;
    width: 100%;
    max-width: 85%;
    height: auto;
    margin: auto;
  }

  &--intro-paragraph {
    @include rem(font-size, 25.63px);
    @include rem(line-height, 36.5px);
    @include rem(margin-top, 20.25px);
  }

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  &__skillset{
    
    &-wrapper {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      align-items: flex-end;
      max-width: 700px;
      padding-left: 0;
      padding-right: 0; 
    }

    &-icon-wrap {
      margin:15px 10px;

      &--ajax {
        margin: 15px 5px;
      }
    }

    &-icon {
      display: block;
      margin: auto;
      width: 100%;
      max-width:70px;
      height: auto;

      &-label {
        display: block;
        text-align: center;
        font-weight: $semi-bold;
        @include rem (font-size, 14px);
      }

      &--ajax {
        max-width: 90px;
      }
    }
  }
}

@media screen and (min-width: 430px) {
  .about__profile-picture {
    max-width: 340px;
  }
}

@media screen and (min-width:$screen-md-min) {
  .about {

    &--intro-paragraph {
      margin-top: 0;
    }

    &__profile-picture {
      max-width: 100%;
    }

    &__skillset{
      
      &-wrapper {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
      }

      &-icon-wrap {
        margin: 15px 20px 15px 0;

        &--html {
          margin-left: -4px;
        }

        &--desktop-last {
          margin-right: 0;
        }
      }
    }
  }
}