html {
  font-size: 100%;
  height: 100%;
}

body {
  @include rem(font-size, 18px);
  @include rem(line-height, 32px);
  font-weight:$light;
  color:$black;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $font-family-header;
  font-weight: $bold;
  @include rem(font-size, 60px);
  @include rem(line-height, 60px);
  @include rem(letter-spacing, -3px); 
  @include rem(margin,0 0 28px);
}

h2 {
  @include rem(font-size, 60px);
  @include rem (line-height, 32px);
  @include rem(margin,0 0 32px);
}

h3{
	@include rem(font-size, 20px);
	@include rem(line-height, 26px);
}

p {
	@include rem(margin, 20px 0);

} //End of p

strong {
	font-weight: $semiBold;
}