/* ********* CONTACT ******** */
/* ************************** */

.contact {
  
  &__social-media-container {
    @include rem(margin-bottom, 28.833px);
  }

  &__social-media-row {
    @include rem(margin, 7.892px 0);
  }

  &__social-media-channel {
    display: inline-block;
    color: $black;

    &:hover {
      text-decoration: none;
    }

    &--linkedin {
      color:$linkedin;

      &:hover {
        color: $linkedin;
      }
    }

    &--twitter {
      color: $twitter;

      &:hover {
        color: $twitter;
      }
    }

    &--github {
      color: $github;

      &:hover {
        color: $github;
      }
    }

    &--instagram {
      color: darken($instagram, 15);

      &:hover {
        color: darken($instagram, 15);
      }
    }

    &--email {
      @include rem(margin-bottom, 22.781px);
    }
  }

  &__social-media-icon {
    vertical-align: middle;
    @include rem(font-size, 51.957px);
    @include rem(margin-right, 9.989px);

    &--email {
      @include rem(font-size, 46.184px);
    }
  }

  &__social-media-icon-title {
    display: inline-block;
    transform: scale(1,1);
    transition: all .4s ease;
    
    &:hover {
      transform: scale(1.1,1.1);
    }
  }
  
  &__form {
    @include rem (max-width, 540px);
  
    &-label {
      font-weight: $light;
      margin-bottom: 0;
      @include rem(font-size, 16px);
    }
  
    &-textfield {
      border: 1px solid $section-border-color;
      appearance: none;
      @include rem(font-size, 16px);
    }
  
    &-textarea {
      appearance: none;
      @include rem(height, 127px!important);
    }

    &--custom-field {
      display: none;
    }
  }
  
  &__form-group--textarea {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .contact {

    &__social-media-wrapper {
      @include rem(margin-bottom, 32.437px);
    }

    &__form {
      max-width: 100%;

      &--btn {
        float: right;
      }
    }
  }
}


//bootstrap feedback icon position
.has-feedback label ~ .form-control-feedback {
  top: 33px;
}

.help-block {
  display: inline-block;
  margin: 0;
  font-style: italic;
  @include rem(font-size, 14.222px);
}