//***** Header Styles *****
.header {
  background: url('../img/main/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;

  &__wrap {
    @include rem(padding, 144px 0 46.192px);

    &--landscape {
      @include rem(padding, 150px 0 46.192px);
    }
  }

  &__title-name {
    font-family: $font-family-logo;
    font-weight: $normal;
    text-transform: uppercase;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;

    @include rem(font-size, 30.4px);
    @include rem(line-height, 35.2px);
    @include rem (padding, 10px 15px 5px 15px);
    @include rem(letter-spacing, 5px);
    @include rem(margin-bottom, 18px);
  }

  &__subtitle {
    font-family: $font-family-header;
    font-weight:$light;
    margin-bottom: 0;
    @include rem(font-size, 20px);
  }

  &__enter-icon {
    display: block;
    color:$white;
    transition: all .4s ease-out;
    transform: scale(1, 1);
    @include rem(font-size, 56px);
    @include rem (margin, 22.784px 0);

    &:hover {
      color:$white;
      transform: scale(1.2, 1.2);
    }
  }
}

@media screen and (min-width: $screen-xs-min) {

  .header__wrap {
    padding: 0;
  }
  
  .header__title-name {
    @include rem(padding, 24px 0 16px 0);
  }

  .header__subtitle {
    display: inline-block;
  }
}

@media screen and (min-width: $screen-sm-min) {
  
  .header__title-name {
    @include rem(font-size, 38.4px);
  }

  .header__subtitle {
    @include rem(font-size, 22px);
  }
}