@import url('https://fonts.googleapis.com/css?family=Exo+2:300,700|Open+Sans:300,400,600|Orbitron');

$font-family-logo: "Orbitron", Helvetica, Arial, sans-serif;
$font-family-header: 'Exo 2', Helvetica, Arial, sans-serif;
$font-family-main: "Open Sans", Helvetica, Arial, sans-serif;

//font-weights
$light		: 300;
$normal		: 400;
$thick		: 500;
$semiBold	: 600;
$bold		  : 700;
$heavy		: 800;