//
// Navbars
// --------------------------------------------------

// custom 
.navbar {
  min-width: 320px;
  padding:5px 0;
  
  &.navbar-inverse {

    .navbar-brand {
      font-family: $font-family-logo;
      font-weight:$normal;
      font-size:$font-size-h1;
    }

    .navbar-toggle {
      border-color:transparent;
    }
  }
}