/****************** Layout ***************/
/* ************************************ */

.body--prevent-scrolling {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.bg--type-fixed {
  background-attachment: fixed !important;   
}

.bg--type-dark {
  background-color:$light-grey;
}

.page {
  position: relative;
  border-bottom: 1px solid $section-border-color;
  @include rem(padding, 20.25px 0 83.225px);

  &:nth-child(even) {
    background-color:$light-grey;
  }

  &--thank-you {
    border-bottom: 0;
  }
}

.noscript-content {
  padding:100px 20px;

  &__wrap {
    width:100%;
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
    background: $light-grey;
    box-shadow: 0 0 3px $dark-grey;
    border-radius: 6px;
  }

  &__brand {
    display: block;
    font-weight: $semi-bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $dark-grey;
  }

  &__copy {
    display: block;
    font-weight:$thick;
    @include rem(font-size, 16px);
    @include rem(line-height, 22.781px);
  }
}

@media screen and (min-width: $screen-md-min) {
  .page {
    @include rem(padding, 46.184px 0 105.332px);
  }
}

