/****************** Layout ***************/
/* ************************************ */

//basic parallax to background
.el--bg-fixed {
  background-attachment: fixed;
}

.el--prevent-scrolling{
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.page {
  position: relative;
  border-bottom: 1px solid $section-border-color;
  @include rem(padding, 20.25px 0 83.225px);

  &:nth-child(even) {
    background-color:$light-grey;
  }
}

