/****************** Layout ***************/
/* ************************************ */

.body--prevent-scrolling{
  //position: absolute;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.bg--type-fixed {
  background-attachment: fixed !important;   
}

.bg--type-dark {
  background-color:$light-grey;
}

.page {
  position: relative;
  border-bottom: 1px solid $section-border-color;
  @include rem(padding, 20.25px 0 83.225px);

  &:nth-child(even) {
    background-color:$light-grey;
  }

  &--thank-you {
    border-bottom: 0;
  }
}

@media screen and (min-width: $screen-md-min) {
  .page {
    @include rem(padding, 46.184px 0 105.332px);
  }
}

