/**** PORTFOLIO DETAILS *****/

.portfolio-details{
  position: relative;

  &__overlay {
    position: fixed;
    display: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    min-width: 320px;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include rem(padding-top, $navbar-height);
  }

  &__wrapper {
    min-height: 101%;
  }

  &__close-button {
    position: absolute;
    right: 20px;
    top: -45px;
    font-weight: $semi-bold;
    @include rem (font-size, 36.491px);
    
    &:hover {
      cursor: pointer;
    }
  }

  &__description {
      @include rem(padding-bottom, 20.25px);
    
      &-title {
      font-weight: $semi-bold;
      @include rem (margin-bottom, 3px);
    }

    &-subheader {
      margin-bottom: 0;
    }
  }

  &__images {

    &-wrapper {
      background-color:$light-grey;
      @include rem(padding,20.25px 0 41.053px);
    }
  }

  &__button-wrapper {
    margin-top:40px;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &--first {
      @include rem(margin-bottom, 20.25px);
    }
  } 
}

@media screen and (min-width: $screen-xs-min) {
  .portfolio-details{

    &__button-wrapper {
      text-align: center;
    }

    &__button {
      display: inline-block;
      @include rem(margin-left, 9.989px);
      @include rem(margin-right, 9.989px);
  
      &--first {
        margin-bottom: 0;
      }
    } 
  }
}

@media screen and (min-width: $screen-sm-min) {
  .portfolio-details{

    &__description-title {
      @include rem(font-size, 28.833px);
    }

    &__button {
      width: 240px;
      @include rem(font-size, 18px);   
    } 
  }
}