.testimonials {

  &__row {
    @media screen and (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__wrapper {
    @media screen and (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__item {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    box-sizing: content-box;
    @include rem(padding, 40px);
    position: relative;
    background: $white;

    &--mt {
      @include rem(margin-top, 20px);

      @media screen and (min-width: $screen-sm) {
        @include rem(margin-top, 30px);
      }

    }

    &--mt-sm-0 {
      @media screen and (min-width: $screen-sm) {
        margin-top: 0;
      }
    }

    .quote-icon-left,
    .quote-icon-right {
      color: $dark-grey;
      @include rem(font-size, 20px);
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
    }
  }

  &__img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid $white;
    float: left;
    margin: 0 10px 0 0;
  }

  &__client {
    &-name {
      @include rem(font-size, 18px);
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    &-position {
      @include rem(font-size, 14px);
      color: $dark-grey;
      margin: 0;
    }
  }

  &__statement {
    @include rem(line-height, 28.833px);
    font-style: italic;
    margin: 15px 0 0 0;
    padding: 0;
  }
}