.thank-you {
  border-bottom: 0;

  @media screen and (min-width: $screen-sm-min) {
    @include rem(padding, 2.8865rem 0 6.58325rem);
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  &__headline {
    @include rem(font-size, 46.184px);
    @include rem(line-height, 46.184px);
    @include rem(letter-spacing, -2px);
  }

  &__envelope {
    display: inline-block;
    @include rem(margin-bottom, 28.833px);
    line-height: 0.8;
    color: $dark-grey;
    @include rem(font-size, 93.628px);
  }

  &__copy {
    @include rem(font-size, 20.25px);
  }

  &__modal {

    .modal-header,
    .modal-footer {
      border: 0;
    }

    .close {
      color: $dark-grey;
      opacity: 1;

      &:hover {
        color: $black;
      }
    }
  }
}