.thank-you {
  border-bottom: 0;

  &__wrapper {
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $section-border-color;
    max-width: calc(100% - 30px);
    margin: 0 auto;
    @include rem(padding, 32.437px 0);
  }

  &__headline {
    @include rem(font-size, 46.184px);
    @include rem(line-height, 46.184px);
  }

  &__envelope {
    display: inline-block;
    @include rem(margin-bottom, 28.833px);
    line-height: 0.8;
    color: $dark-grey;
    @include rem(font-size, 93.628px);
  }
}

@media screen and (min-width: $screen-sm-min) {
  .thank-you{
    @include rem(padding, 2.8865rem 0 6.58325rem);
    
    &__wrapper {
      max-width: calc(100% - 100px);
    }
  }
}