<div id="{{id}}" class="projects">
	<div id="{{id}}Img" class="projectImage">
		<picture>
			<!--[if gte IE 9]><video style="display: none;"><![endif]-->
		  <source srcset="images/{{id}}/{{id}}_mobile.png 1x, images/{{id}}/{{id}}_mobile_retina.png 2x" media="(min-width: 200px)">
		  <!--[if gte IE 9]></video><![endif]-->
		  <img class="projectImage" srcset="images/{{id}}/{{id}}_mobile_retina.png, images/{{id}}/medicare_mobile_retina.png 2x" alt="{{{title}}}">
		</picture>
	</div>
	<div class="copyPreview">
		<h3>{{{title}}}</h3>
		<p>{{{preview}}}</p>
		<button type="button" class="showMore">Show more</button>
	</div>
</div>